*/.DS_Store
*/*/.DS_Store/
*/__pycache__/
*/*/__pycache__/
.Rhistory
.DS_Store
*/.Rapp.history
*/*/.Rapp.history

# Ignore log files
*.log

# Ignore results and figures
results
results_hpc
figures
*.txt

# Ignore dataset in bigearthnet
third_party/datasets
**/__init__.py
**/__pycache__/
experiments/logs/
